body, label {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

main {
    padding-top: 20px;
    display: block;
    width: 900px;
    margin: 0 auto;
    padding-top: 2em;
    padding: 1em;
    background: white;
    border: 2px solid teal;
}

h1 {
    /*background-image: url(money2.jpg); /*background image*/
    /* background-repeat: no-repeat;
    padding-left: 150px; padding-top: 30px; padding-bottom: 30px;
    /* border: 1px solid navy; */ /* border color */
    /* border-radius: 10px; /* rounded header border */
    text-align: center;
    position: right;
    margin-top: 0;
    color: navy;
    font-family: "Trebuchet MS", Helvetica, sans-serif;

}
/* radio button */
label {
    float: left;
    padding-right: 1em;
    padding-bottom: .5em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}


/* div styling */
.input {
  padding-left: .2em;
  box-sizing: border-box;
  max-width: 500px;
  padding-bottom: 1em;
  border-spacing: 7px;
}

.user {
  padding-left: .5em;
  max-width: 400px;
}

.schedule {
  padding-top: .3em;
  padding-left: .5em;
  padding-right: .5em;
  padding-bottom: .3em;
}

/* input fields */
#data input {
    float: left;
    width: .5em; /* input field width  */
    margin-bottom: .5em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
/* calculate loan button */
#buttons input {
    float: left;
    margin-bottom: .5em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

br {
    clear: left;
}

/* error  */
#error {
    color: red;
    font-weight: bold;
}

footer {
    color: black;
}
